{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "import/order": [
      "warn",
      "always"
    ],
    "space-in-parens": [
      "warn",
      "never"
    ],
    "object-property-newline": "warn",
    "object-curly-spacing": "warn",
    "array-bracket-spacing": "warn",
    "comma-spacing": "warn",
    "jsx-quotes": "warn",
    "brace-style": [
      "warn",
      "allman"
    ],
    "indent": [
      "warn",
      4
    ],
    "semi": [
      "warn",
      "always"
    ],
    "prettier/prettier": 0
  }
}